<html>
    <head>
        <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
        <link href="/styles/estilos.css" rel="stylesheet">
    </head>
    <body> 
        <a href="/">
            <h1><img sr="images/logo.png" alt="Jobify - by DevPleno"></h1>
        </a>
        <p>We are Jobify - Join US!</p>